.stopwatch {
    background-color: aqua;
    text-align: center;
}
.set-time input {
    border: none;
    width: 35px;
    text-align: center;
    font-size: 15px;
}

.milliseconds {
    display: none;
}
